body {
    font-family: 'Raleway', sans-serif;
    scroll-behavior: smooth;

}

.navbar {
    background-color: #444;


}

.nav-link {
    color: #c2c2c2;

    &:visited {
        color: #c2c2c2;

    }
}

a {
    color: #e38f42;
    text-decoration: none;

    &:hover {
        color: #e38f42;
    }

}

.first-section {

    background-image: url(img/form-background.jpg);
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;

}

.divHeader {
    background-color: rgba(0, 0, 0, 0.4)
}

.icon {
color: #c2c2c2;
}

form {

    background-color: rgba(0, 0, 0, 0.35);
}

.form-control {
    padding: 15px;
    font-size: 15px;
}

.mainText {
    font-size: 36px;

}

.bottomText {
    font-size: 15px;
    color: #c2c2c2;

}

.textFooter {
    text-align: center;
    font-size: 12px;
    color: #c2c2c2;

}


.btn {
    background-color: #e38f42;
    border: none;
    color: white;
    padding: 15px;
    margin: 5px;

    &:hover {
        background-color: rgb(209, 136, 0);
    }
}

.mainSide {
    font-size: 36px;
}

.bottomSide {
    font-size: 18;
}

.blackbtn {
    background-color: rgba(0, 0, 0, 0.4);

    &:hover {
        background-color: #ffffff59;

    }
}

.footer-section {
    height: 100vh;
    
}
h6 {
color: #888;
}

.full-wd {
    width: 100%;
    height: 50%;
}

.color {
    background-color: #f8f8f8;
}

.video {

    padding:56.25% 0 0 0;position:relative;
}

iframe {
    position:absolute;top:0;left:0;width:100%;height:100%;
    
}